<!--네브바
<header class="header" id="header">
	<div class="contents" id="header-contents">
		<h1 class="header-logo">
			<a href="/">NAVER D2 Startup Factory</a>
		</h1>
		<span class="gnb-wrap">
			<ul class="header-gnb">
				<li><a href="/dusers/sign_in">Blog</a></li>
				<li><a href="#">Programs</a></li>
				<li><a href="#">Startups</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">About</a></li>
			</ul>
			<ul class="header-buttons">
				<li class="header-refrig-img"><a href="#"></a></li>
				<li class="header-board-img"><a href="#"></a></li>
			</ul>
		</span>
	</div>
</header>
<div id="startchange"></div>-->

<div class="w-nav navigation" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-nav-button nav-link menu">
    </div>
    <div style="margin-right: 60px;">
      <a class="yumlogo" href='/' style="margin-left:120px">
      <img height="74" src="<%= asset_path 'navbar/logo.png' %>"></a>
      <nav class="w-nav-menu nav-menu" role="navigation">
      <% if duser_signed_in? %>
       <div>      
        <div class="nav_div"><a style="text-decoration:none;" href="/yumyum/pride">
        <img class="board" height="40" src="/assets/navbar/board_wh.png">
          <div class="nav_txt">게시판</div></a>
        </div>
        <div class="nav_div" data-id="<%= current_duser.id %>"><a style="text-decoration:none;" href="/yumyum/material/<%= current_duser.id %>">
        <img class="refrig" src="/assets/navbar/refrig_wh.png">
          <div class="nav_txt">냉장고</div></a>
        </div>
        <div class="nav_div"><a style="text-decoration:none;" href="/yumyum/myrecipe/<%= current_duser.id %>">
        <img class="scrap" src="/assets/navbar/scrap_wh.png">
          <div class="nav_txt">스크랩</div></a>
        </div>
        <div class="nav_div"><a style="text-decoration:none;" href="/yumyum/userinfo/<%= current_duser.id %>">
        <img class="profile" src="/assets/navbar/profile_wh.png">
          <div class="nav_txt">프로필</div></a>
        </div>
        <div class="nav_div"><a style="text-decoration:none;" href="/dusers/sign_out" data-method="delete"><img class="log_out" src="/assets/navbar/logout_wh.png">  
          <div class="nav_txt">로그아웃</div></a>
        </div>
        <% else %>
      <div>
        <div class="log_in_div">
          <div class="log_in"><a style="text-decoration:none;color:white;" href="/dusers/sign_in"><strong>로그인</strong></a></div>
          <div class="sign_up"><a style="text-decoration:none;color:white;" href="/dusers/sign_up"><strong>회원가입</strong></a></div>
        </div>
        <% end %>
      </div>  
      </nav>
      <div class="src_div">
        <div>
          <form>
            <input class="src_form" type="text" placeholder="요리/식재료를 검색해보세요" data-name="검색"><img class="src_btn" src="/assets/navbar/src_btn.svg">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="startchange"></div>
  
<style>
  .navigation {
     background-color:rgba(51,51,51,0.9);
  }
</style>